{% extends "MiNBA/padre.html" %}

{% load static %}

{% block Jugadores %}

    <footer style="background-color:white">

    
        {% if jugadores %}

           <p>We are looking the last name {{apellido}}</p>

           <ul>
                {% for jugador in jugadores %}
                <li> Name: {{jugador.nombre}} </li>
                <li> Last Name: {{jugador.apellido}} </li>
                <li> Age: {{jugador.edad}} </li>
                <li> Natioality: {{jugador.nacionalidad}} </li>
                <li> Current Team: {{jugador.equipoact}} </li>
                <li> Career Teams: {{jugador.equipos}} </li>
                <li> Championships: {{jugador.campeonatos}} </li>
                <li> All-Star Times: {{jugador.allstar}} </li>  
                {% endfor %}
            </ul>
        
        {% else %}
            
            <p>No data with that description.</p>

        {% endif %}

        <p style="color:red;">{{respuesta}}</p>
    
    </footer>

{% endblock %}